Hi {{ name }},

We received a request to reset your password. Click the link below to set a new one:

{{ reset_link }}

This link expires in {{ expires_in }} minutes. If you didn't request this, you can safely ignore this email.

Best regards,
The Support Team
